# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Local database
*.db
*.sqlite3*.pem
